{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Genetic Code</title>
        <link href="{% static 'home/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index'%}">Home</a></li>
            </ul>
        </nav>
        
        <section>
            <h1>Genetic Code</h1>
            <p></p>
        </section>

        <section class="display_code_cont">
            
            <div>
                <p>DNA Sequence</p>
            </div>
            <div>
                <p>Phylogenetic Tree</p>
            </div>
            <div>
                <p>Protein Folding</p>
            </div>
            <div>
                <p>Punnet Squares</p>
            </div>
            <div>Sequence Alignment</div>
        
        </section>
        <footer>
            <p>Built and designed by Oreofeoluwa Fesobi.<br></br>
            All rights reserved. ©</p>
        </footer>
    </body>
    
</html>